<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO" strict="true" name="XMLConfigTest">
    <Properties>
        <Property name="jsonFile">src/mysql/customer.json</Property>
    </Properties>
    <Filter type="ThresholdFilter" level="trace" />
    <Appenders>
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} %c %-5p [ %l ] %m%n" disableAnsi="false" />
        </Console>
        <File name="json" fileName="${jsonFile}" append="false">
            <PatternLayout pattern="%m%n" />
        </File>
    </Appenders>
    <Loggers>
        <Logger name="logger" level="DEBUG" additivity="false">
            <AppenderRef ref="console" />
        </Logger>
        <Logger name="mysql" level="DEBUG" additivity="false">
            <AppenderRef ref="console" />
            <AppenderRef ref="json" />
        </Logger>
        <Root level="INFO" additivity="false" />
    </Loggers>
</Configuration>